
*.txt

*.png

*.ini

*.svg

*.ps

*.mat

TC/TC_optCutoff.fig

*.fig

*.zip

Common/Field Data/Stanford Field Data/Adams/Adams_06012018_DPP_North DPP_Upper aquifer.xls

*.docx

*.xlsx

*.csv

*.xls

*.pdf

*.pptx

*.gc

*.jpg

*.1d

*.par

*.2d

*.pt1

*.pt2

*.pex

*.WCL

*.wca

*.waf
